
input,
input[type='text'],
input[type='number'],
input[type='email'],
input[type='url'],
select, textarea{ border: solid 1px #bbb; resize:none; outline:0; max-width:500px;}
input:focus,
input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
select:focus, textarea:focus{  border: solid 1px #999; resize:none; outline:0; box-shadow: unset;}
input[type='checkbox'], input[type='color']{margin-right:10px;}


.t-section{padding:20px 30px;margin-right:20px;display:flex;}
.t-container{width: 100%;}
.t-no-toppad{padding-top:0px !important;}
.t-no-bottompad{padding-bottom:0px !important;}
.t-tab{text-decoration: none; display:inline-block; padding: 20px 10px; outline: 0px; cursor:pointer; color:#fff;  background-color: #7d9bb5; border: 0px;}
.t-tab:hover{color:#103042;}
.t-tab:active,.t-tab:focus {outline:0; box-shadow: unset;}
nav#t-nav .t-tab.t-active-tab{background-color:#fcfcfc; color:#103042; font-weight:bold;}

.t-tabs b{color:#ff0000;}
.t-tabs strong{color:#426ae0;}

.t-formgroup{display:flex; flex-direction: column; width:100%; margin: 10px 0;}
.t-formgroup.t-inline {flex-direction: row-reverse;align-items: center;justify-content: flex-end;}
.t-formgroup label{margin-bottom:5px; font-weight:500;}
.t-hide{display:none !important;}
.t-show{display:block !important;}
.t-mtop5{margin-top:5px !important;}

header#t-header{background-color:#103042;color:#fff;margin-top:20px;}
header#t-header h1{
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
header#t-header h1 a {color: #fff;text-decoration: none;}
header#t-header p cite {float: right;}
header#t-header p cite a{color:#fff;}
header#t-header h1 span {display: flex;align-items: center;}
header#t-header h1 button {margin-left: 10px;}
header#t-header h1 small{font-size:0.9rem; justify-self: flex-end; }
nav#t-nav.t-section{background-color: #7d9bb5; padding: 0 30px;}
nav#t-nav .t-container ul{display:flex; align-items: center; justify-content: flex-start; margin:0;}
nav#t-nav .t-container ul li{margin: 0;}
nav#t-nav a{color:#fff; text-decoration: none; margin-right:10px; display:block;}
nav#t-tabcontrols {background-color: #d0d0d0;}
main#t-main{background-color:#fcfcfc;}

main#t-main h2{font-size:1.6em;}

pre.t-code { margin: 0; padding: 20px;background-color: #f1f1f1; white-space: pre-wrap;}
div.t-demo { padding: 20px;background-color: #e6eef1; max-height:300px; overflow: auto;}
pre.t-demo { margin:0; padding: 20px;background-color: #e6eef1; white-space: pre-wrap;}
div.t-demo ul, div.t-demo h3:first-child{padding-top:0px; margin-top:0px; }
pre.t-status {
    margin: 0;
    background-color: #e6eef1;
    white-space: pre-wrap;
    min-height: 200px;
    padding: 20px;
}

.t-status span {
    display: flex;
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: solid 1px #ccc;
    width:100%;
    align-items: center;
}
font.sfile {
    flex-basis: 50%;
    text-transform: capitalize;
}
font.scode {
    flex-basis: 10%;
}
font.sresponse {
    flex-basis: 40%;
}




pre.t-logs {
    padding: 20px;
    margin: 0;
    background-color: #000;
    white-space: pre-wrap;
    min-height: 200px;
}
pre.t-logs > font{display:block; color:#fff;}
small.t-guide{display:block; padding: 5px 0; font-size:.7.5rem;}
small.t-guide b{font-weight:700; color:#ff0000;}

.media-widget-buttons .button:first-child {margin-right: 0px;}
.media-widget-buttons .selected{display:inline-block;}
.media-widget-buttons .not-selected{display:none;}
.media-widget-preview .placeholder {background: none;border:dashed 1px #888;}
.form-table hr{ border-top: solid 1px #b7b2b2;}
.pad-fluid{margin: 0 -15px;}
.pad-vertical{padding: 15px 0;}
.t-float-right{float:right;}
.t-message-box .notice, .t-message-box .error{
    margin: 15px 2px;
}
